<form class="form-inline" method="get" action="http://www.google.com/search" onSubmit="search(this)">
	<input name="q" type="hidden" />
	<div class="input-group">
		<input name="qfront" type="search" required class="form-control" placeholder="Искать..." maxlength="255" />
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary" aria-label="Поиск">
				<span class="glyphicon glyphicon-search" aria-hidden="true" />
			</button>
		</span>
  	</div>
</form>
