<div id="vk_groups" class="center"></div>
<script type="text/javascript">
	$(function() {
		loadScript('//vk.com/js/api/openapi.js?150', function() {
			VK.Widgets.Group("vk_groups", { mode: 0, width: "240", height: "290" }, 18630942);
		});
	});
</script>
