{% if comic.origin %}
	<div class="panel-footer">
		<div class="glyphicon-block"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true" title="Источник"></span> <a href="{{ comic.origin }}">Источник</a></div>
	</div>
{% endif %}
