{% extends 'layout.twig' %}

{% block content %}
	{% if auth.user %}
		<p>Добро пожаловать, <strong>{{ auth.user.name }}</strong>!</p>
	{% else %}
		<p>Пожалуйста, <a href="javascript:void(0);" ng-click="signIn()">войдите</a> или <a href="javascript:void(0);" ng-click="signUp()">зарегистрируйтесь</a>.</p>
		{#<p>Или вернитесь <a href="{{ path_for('home') }}">на главную страницу</a>.</p>#}
	{% endif %}
{% endblock %}
