{% extends "layout.twig" %}

{% set title = 'Ошибка 404' %}
{% set no_popup = true %}

{% block content %}
<p>Страница не найдена или перемещена. <a href="{{ path_for('admin.index') }}">Вернуться на главную?</a></p>
{% endblock %}
